# Build
bin/
obj/
dist/

# Visual Studio / VS Code
.vs/
.vscode/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*

# Angular
.angular/
coverage/

# Environment
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

#rider
.idea/